{% extends 'QRvisualisation/base.html' %}
{% block body_block %}
{% load static %}

<section id="contact">

       <div class="overlay"></div>

     <div class="row narrow section-intro with-bottom-sep animate-this">
       <div class="col-twelve">
         <h3>Visualise Track Data</h3>
         <h1>Visualise GPR and Track Geometry</h1>
       </div>

</section> <!-- end header seaction -->

<section id="bokeh-plots" style="background-color:white;">
  <div class="text-center">
  <div class="row narrow add-bottom">
    <div class="row" style="margin-top:50px">
      <div class="col-six tab-full">
        <a href="{% url 'QRvisualisation:outputview' %}" class = "button button-primary full_width">Geospatial GPR data</a>

      </div>
      <div class="col-six tab-full">
        <a href="{% url 'QRvisualisation:output_trc_vis' %}" class = "button full_width">Track geometry heatmap</a>



      </div>
      <div class="col-twelve tab-full">
        <h2>Heatmap view of calculated combined track geometry</h2>
          <p>Using standard deviation calculations on TRC data. </p>
        <p><strong>Select the distance range to view heatmap for particular area.</strong><br>
      Zoomed in view available by dragging the bar across the main heatmap display <br>
      Work orders displayed in colored boxes</p>

      </div>
      </div>
      {% include "QRvisualisation/QRplot_trc.html" %}
    </div>




  </div>

</section>


{% endblock %}
